 
 <button (click)= "putData()" id = "btn" >ADD</button>
 <table  id="tableid"> 
    <!-- <thead>
        <tr >
  <th  *ngFor="let el of thead" > {{el}}</th>
</tr>
</thead> -->
<tbody id="tablebody"> 
  <tr> 
    <td  ><input type="text" placeholder="userId" [(ngModel)]="name0"  >  </td>
    <td  ><input type="text" placeholder="id" [(ngModel)]="name1"  >  </td>
    <td  ><input type="text" placeholder="title" [(ngModel)]="name2"  >  </td>
    <td  ><input type="text" placeholder="body" [(ngModel)]="name3"  >  </td>
  </tr>

</tbody>
 </table>
 <button (click)= "submitData()"  id="ok"  >OK</button>
 <button (click)= "omitData()"  id="cancel" >CANCEL</button>

 
